body{
text-align:center;
background-color:black;
color:burlywood;
}
h1{
font-size:80px;
font-variant:small-caps;
}
h2{
font-size:40px;
}
h3{
font-size:40px;
}
h4{
font-size:40px;
}
h5{
font-size:40px;
}
#picneck{
width:300px;
height:400px;
}
#picear{
width:350px;
height:500px;
}
#picbrace{
width:300px;
height:400px;
}
#picmala{
width:300px;
height:400px;
}
h6{
font-size:40px;
}
#pic{
text-align:center;
}
h5{
text-align:left;
font-size:15;
}
#mla{
font-size:40px;
}
#pic{
width:550px;
height:450px;
}